<ion-header>
  <ion-toolbar>
    <ion-title>Crear nuevo alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label color="primary" position="stacked">Nombre</ion-label>
          <ion-input placeholder="Nombre" type="text" [(ngModel)]="alumno.nombre" name="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" position="stacked">Ciudad</ion-label>
          <ion-input placeholder="Ciudad" type="text" [(ngModel)]="alumno.ciudad" name="ciudad"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" position="stacked">E-mail</ion-label>
          <ion-textarea placeholder="Email" [(ngModel)]="alumno.email" name="email"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-label color="primary" position="stacked">Curso</ion-label>
            <ion-textarea placeholder="Curso" [(ngModel)]="alumno.curso" name="curso"></ion-textarea>
          </ion-item>
        <ion-button padding type="submit" float-right>Añadir alumno</ion-button>
  </form>
</ion-content>
