<ion-header>
  <ion-toolbar>
      <ion-title style="line-height: 35px" float-left>Lista Alumnos</ion-title>
    <ion-button size="small" float-right (click)="onClickAdd()">Crear alumno</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
      <ion-item *ngFor="let alumno of alumnos">
       <ion-label>
          <h2>{{alumno.nombre}}</h2>
          <h3>Ciudad: {{alumno.ciudad}}</h3>
          <h3>Email: {{alumno.email}}</h3>
       </ion-label>
       <ion-button color="medium" (click)="updateAlumno(alumno.id)">Modificar</ion-button>
       <ion-button color="danger" (click)="deleteAlumno(alumno)">Matar</ion-button>
      </ion-item>
    </ion-list>
  </ion-content>